/server/libraries
/server/logs
/server/amongmc/playerdata
/server/amongmc/advancements
server/amongmc/session.lock
server/amongmc/uid.dat
server/among mc server backup.rar
.console_history
/server/amongmc/stats
/server/amongmc_nether
/server/amongmc_the_end
/server/backups
server/banned-ips.json
server/banned-players.json
/server/cache
server/commands.yml
server/eula.txt
server/help.yml
server/map-color-cache.dat
server/ops.json
server/permissions.yml
/server/plugins/.paper-remapped
server/plugins/bStats/config.yml
/server/plugins/Geyser-Spigot/cache
/server/plugins/SkinsRestorer/cache
/server/plugins/NpcPlugin-Paper/lang
/server/plugins/SkinsRestorer/locales
/server/plugins/SkinsRestorer/players
server/plugins/SkinsRestorer/recommendations.json
/server/plugins/SkinsRestorer/skins
/server/plugins/Skript/backups
/server/plugins/Skript/lang
server/plugins/Skript/scripts.zip
server/plugins/Skript/scripts/core/todo.txt
server/plugins/Skript/variables.csv
/server/plugins/spark
server/plugins/TAB/playerdata.yml
server/plugins/TAB/skincache.yml
/server/plugins/update
server/usercache.json
server/version_history.json
/server/versions/
server/whitelist.json
