/libraries
/logs
/amongmc/playerdata
/amongmc/advancements
amongmc/session.lock
amongmc/uid.dat
among mc server backup.rar
.console_history
/amongmc/stats
/amongmc_nether
/amongmc_the_end
/backups
banned-ips.json
banned-players.json
/cache
commands.yml
eula.txt
help.yml
map-color-cache.dat
ops.json
permissions.yml
/plugins/.paper-remapped
plugins/bStats/config.yml
/plugins/Geyser-Spigot/cache
/plugins/SkinsRestorer/cache
/plugins/NpcPlugin-Paper/lang
/plugins/SkinsRestorer/locales
/plugins/SkinsRestorer/players
plugins/SkinsRestorer/recommendations.json
/plugins/SkinsRestorer/skins
/plugins/Skript/backups
/plugins/Skript/lang
plugins/Skript/scripts.zip
plugins/Skript/variables.csv
/plugins/spark
plugins/TAB/playerdata.yml
plugins/TAB/skincache.yml
/plugins/update
usercache.json
version_history.json
/versions/
whitelist.json
plugins/Skript/scripts/changeme.sk
plugins/Skript/scripts/changeme.sk
